{% extends "authentication/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="center-row mt--300">
    <div class="col-lg-6">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        <div class="alert alert-info" role="alert">
            {% blocktrans with username=user.username %}
            You are authenticated as {{ username }}, but are not authorized to
            access this page. Would you like to login to a different account?
            {% endblocktrans %}
        </div>
        {% endif %}

        <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
                {% trans "Sign In" %}
            </div>
            <div class="card-body px-lg-5 py-lg-4">

                <form action="{% url 'login' %}" role="form" method="post">
                    {% csrf_token %}
                    {% url 'api-root' as home %}
                    <input type="hidden" name="next" value="{{ next|default:home }}"/>

                    <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input name="username" maxlength="100" autocapitalize="off" autocorrect="off"
                                   class="form-control" placeholder="{{ form.username.label }}"
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>
                            <input class="form-control" name="password" maxlength="100" autocapitalize="off"
                                   autocorrect="off" placeholder="{{ form.password.label }}" type="password">
                        </div>
                    </div>

                    <button type="submit" id="submit-id-submit" name="submit" class="btn btn-primary btn-block my-4">{% trans "Login" %}</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
