{% load i18n %}
{% load rest_framework %}
<div class="card">
    <div class="card-header" id="headingFilters">
        <h5 class="mb-0">
            <button class="btn btn-link w-100 text-primary text-left" type="button"
                    data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false"
                    aria-controls="collapseOne">
                {% trans "Filters" %}
                <i class="ni ni-bold-down float-right"></i>
            </button>
        </h5>
    </div>

    <div id="collapseFilters" class="collapse" aria-labelledby="headingFilters" data-parent="#accordion">
        <div class="card-body opacity-8">
            <form class="form" action="" method="get">
                {% for field in filter.form %}
                <div class="form-group mb-4">
                    {{ field.label_tag|add_class:"form-control-label" }}
                    {{ field|add_class:"form-control form-control-alternative" }}
                    <span class="help-block">{{ field.help_text|safe }}</span>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
</div>